* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    background:rgb(221, 133, 133);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    color: #333;
}

/* Flex Container Styling */
.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

/* Convertor Block Styling */
.convertor {
    flex: 1 1 calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 18px;
  
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #171717;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .convertor {
        flex: 1 1 100%;
    }
}

@media (max-width:460px){

    input{
        width:280px;
        
    }
}
